.no-link-style {
  text-decoration: none;
  color: inherit;
}

.strippedBtn {
  background-color: transparent;
  border: none;
  color: red;
}
.strippedBtn:hover {
  color: #9c2632;
}

.cursor-pointer {
  cursor: pointer;
}
.sort-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.sort-container > span {
  height: 0.8rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-caret-rotate-180 {
  transform: rotate(180deg);
}
